@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LayoutAnonymous.cshtml";
}

<div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">Password Reset</h1>
    <!--end::Title-->
    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.t</div>
    <!--end::Subtitle=-->
</div>
