USE [db_a99603_qosmiclabdemo]
GO
/****** Object:  Schema [SignalR]    Script Date: 06/07/2023 10:03:42 am ******/
CREATE SCHEMA [SignalR]
GO
/****** Object:  Schema [SignalRCore]    Script Date: 06/07/2023 10:03:42 am ******/
CREATE SCHEMA [SignalRCore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/07/2023 10:03:42 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Line1] [varchar](max) NULL,
	[Line2] [varchar](max) NULL,
	[CityTown] [varchar](max) NULL,
	[Province] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdjustmentReasons]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjustmentReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsInbound] [bit] NOT NULL,
	[CssClass] [varchar](1000) NULL,
 CONSTRAINT [PK_AdjustmentReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adjustments]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adjustments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdjustmentDate] [datetime] NOT NULL,
	[ReasonId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
	[ProductId] [int] NOT NULL,
	[Note] [varchar](max) NULL,
	[LocationId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Filenames] [varchar](max) NULL,
 CONSTRAINT [PK_Adjustments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchContactInformation]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchContactInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NOT NULL,
	[ContactInformationId] [int] NOT NULL,
 CONSTRAINT [PK_BranchContactInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NULL,
	[AddressId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactInformations]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [varchar](max) NULL,
	[EmailAddress] [varchar](max) NULL,
	[MobilePhoneNumber] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
	[Facebook] [varchar](max) NULL,
	[Instagram] [varchar](max) NULL,
	[LinkedIn] [varchar](max) NULL,
	[Twitter] [varchar](max) NULL,
 CONSTRAINT [PK_ContactInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerContactInformation]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContactInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ContactInformationId] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerContactInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](max) NOT NULL,
	[MiddleName] [varchar](max) NULL,
	[LastName] [varchar](max) NULL,
	[ContactNumber] [varchar](50) NULL,
	[EmailAddress] [varchar](max) NULL,
	[TINNumber] [varchar](max) NULL,
	[AddressId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItemRefunds]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItemRefunds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[DateRefunded] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Remarks] [varchar](max) NOT NULL,
	[InvoiceRefundId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceItemRefunds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[Remarks] [varchar](max) NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceRefunds]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceRefunds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefundNumber] [varchar](100) NOT NULL,
	[DateRefunded] [datetime] NOT NULL,
	[RefundedByUserId] [uniqueidentifier] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[Notes] [varchar](max) NULL,
 CONSTRAINT [PK_InvoiceRefunds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[CustomerId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[InvoiceDueDate] [datetime] NOT NULL,
	[LocationId] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
	[HasRefund] [bit] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceStatus]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[CssClass] [varchar](1000) NULL,
 CONSTRAINT [PK_InvoiceStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMovements]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovementType] [varchar](50) NULL,
	[Direction] [varchar](50) NULL,
	[CountAfterTransaction] [int] NULL,
	[CountBeforeTransaction] [int] NULL,
	[Quantity] [int] NULL,
	[ItemName] [varchar](max) NULL,
	[LocationId] [int] NULL,
	[ProductId] [int] NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionId] [varchar](100) NULL,
 CONSTRAINT [PK_ItemMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[AddressId] [int] NOT NULL,
	[ContactInformationId] [int] NOT NULL,
	[Meta_MonthlyTargetSalesCount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationSetting]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingCode] [varchar](100) NOT NULL,
	[SettingValue] [varchar](max) NOT NULL,
	[LocationId] [int] NOT NULL,
 CONSTRAINT [PK_LocationSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipalities]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipalities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[ProvinceId] [int] NULL,
 CONSTRAINT [PK_Municipalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ItemCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartCode] [varchar](max) NOT NULL,
	[Description] [varchar](max) NULL,
	[ProductCategoryId] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Note] [varchar](max) NULL,
	[CustomWarning] [varchar](max) NULL,
	[Name] [varchar](max) NOT NULL,
	[Model] [varchar](max) NULL,
	[SizeId] [int] NULL,
	[ColorId] [int] NULL,
	[CurrentCostPrice] [decimal](18, 2) NULL,
	[CurrentSalePrice] [decimal](18, 2) NULL,
	[LeadTimeDays] [int] NULL,
	[CurrentStock] [int] NOT NULL,
	[ImageFilename] [varchar](max) NULL,
	[MarkUpPercentage] [decimal](18, 2) NOT NULL,
	[LowStockCount] [int] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Region] [varchar](100) NOT NULL,
	[Code] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModuleAccess]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModuleAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [varchar](max) NOT NULL,
	[ModuleIdentifier] [varchar](max) NOT NULL,
 CONSTRAINT [PK_RoleModuleAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentArrivalItems]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentArrivalItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ShipmentArrivalId] [int] NOT NULL,
	[ItemCount] [decimal](18, 2) NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ShipmentArrivalItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentArrivals]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentArrivals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NULL,
	[ShipmentArrivalStatusId] [int] NOT NULL,
	[ShipmentArrivalDate] [datetime] NOT NULL,
	[ShipmentReceivedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[LocationId] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[Filenames] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[TrackingNumber] [varchar](500) NULL,
 CONSTRAINT [PK_ShipmentReceivings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentArrivalStatus]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentArrivalStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CssClass] [varchar](1000) NULL,
 CONSTRAINT [PK_ShipmentArrivalStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionIdGenerators]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionIdGenerators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Prefix] [varchar](10) NULL,
	[CurrentCount] [int] NOT NULL,
	[Padding] [int] NULL,
	[Suffix] [varchar](10) NULL,
 CONSTRAINT [PK_TransactionIdGenerators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[Id] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CostPrice] [decimal](18, 2) NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
	[Note] [varchar](max) NULL,
 CONSTRAINT [PK_TransactionItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[CustomerId] [int] NULL,
	[TransactionBy] [uniqueidentifier] NULL,
	[TransactionStatusId] [int] NOT NULL,
	[Note] [varchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCurrentLocations]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCurrentLocations](
	[UserId] [nvarchar](450) NOT NULL,
	[LocationId] [int] NOT NULL,
 CONSTRAINT [PK_UserCurrentLocations] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdentityUserId] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](max) NOT NULL,
	[LastName] [varchar](max) NULL,
 CONSTRAINT [PK_UserInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](max) NOT NULL,
	[Displacement] [int] NULL,
	[YearModel] [int] NULL,
	[ChassisNumber] [varchar](max) NULL,
	[EngineNumber] [varchar](max) NULL,
	[Make] [varchar](max) NULL,
	[Color] [varchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SignalR].[Messages_ComponentHub_0]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalR].[Messages_ComponentHub_0](
	[PayloadId] [bigint] NOT NULL,
	[Payload] [varbinary](max) NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SignalR].[Messages_ComponentHub_0_Id]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalR].[Messages_ComponentHub_0_Id](
	[PayloadId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SignalR].[Schema]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalR].[Schema](
	[SchemaVersion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchemaVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SignalRCore].[Messages_ComponentHub_0]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalRCore].[Messages_ComponentHub_0](
	[PayloadId] [bigint] NOT NULL,
	[Payload] [varbinary](max) NOT NULL,
	[InsertedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SignalRCore].[Messages_ComponentHub_0_Id]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalRCore].[Messages_ComponentHub_0_Id](
	[PayloadId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SignalRCore].[Schema]    Script Date: 06/07/2023 10:03:43 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SignalRCore].[Schema](
	[SchemaVersion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchemaVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Line1], [Line2], [CityTown], [Province], [Country], [IsActive], [IsDefault], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, NULL, NULL, NULL, N'Pampanga', N'Philippines', 0, 0, N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', CAST(N'2023-05-17T10:11:52.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Addresses] ([Id], [Line1], [Line2], [CityTown], [Province], [Country], [IsActive], [IsDefault], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, NULL, NULL, NULL, NULL, NULL, 0, 0, N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', CAST(N'2023-05-20T11:04:38.763' AS DateTime), NULL, NULL)
INSERT [dbo].[Addresses] ([Id], [Line1], [Line2], [CityTown], [Province], [Country], [IsActive], [IsDefault], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, NULL, NULL, NULL, NULL, NULL, 0, 0, N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', CAST(N'2023-05-22T08:28:34.917' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[AdjustmentReasons] ON 

INSERT [dbo].[AdjustmentReasons] ([Id], [Name], [Description], [IsActive], [IsInbound], [CssClass]) VALUES (1, N'Initial Stocks', N'', 1, 1, N'')
INSERT [dbo].[AdjustmentReasons] ([Id], [Name], [Description], [IsActive], [IsInbound], [CssClass]) VALUES (2, N'Damaged Items', N'', 1, 0, N'')
SET IDENTITY_INSERT [dbo].[AdjustmentReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[Adjustments] ON 

INSERT [dbo].[Adjustments] ([Id], [AdjustmentDate], [ReasonId], [Quantity], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [ProductId], [Note], [LocationId], [IsActive], [Filenames]) VALUES (1, CAST(N'2023-05-20T11:22:12.757' AS DateTime), 1, 17, N'dac56928-d307-4391-ab94-94e5423bb4e3', CAST(N'2023-05-20T11:22:12.757' AS DateTime), NULL, NULL, 1, NULL, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Adjustments] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'CASHIER', N'CASHIER', N'CASHIER', N'7da6f88e-687d-423f-ae3a-0216d8179534')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'Sales', N'Sales', N'Sales', N'c06d72c0-9ca2-43ff-a9d5-945462523113')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'Super Admin', N'Super Admin', N'Super Admin', N'801b40db-7eda-4fee-a2b7-62e6107ff07d')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (335, N'dac56928-d307-4391-ab94-94e5423bb4e3', N'access.pages', N'Dashboard Page')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (336, N'dac56928-d307-4391-ab94-94e5423bb4e3', N'access.pages', N'Product List Page')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (337, N'dac56928-d307-4391-ab94-94e5423bb4e3', N'access.pages', N'Product Create Page')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'491868e1-25f5-4538-969e-5c69c3c3cd7a', N'Super Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', N'Super Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'dac56928-d307-4391-ab94-94e5423bb4e3', N'CASHIER')
GO
SET IDENTITY_INSERT [dbo].[ContactInformations] ON 

INSERT [dbo].[ContactInformations] ([Id], [PhoneNumber], [EmailAddress], [MobilePhoneNumber], [Website], [Facebook], [Instagram], [LinkedIn], [Twitter]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactInformations] ([Id], [PhoneNumber], [EmailAddress], [MobilePhoneNumber], [Website], [Facebook], [Instagram], [LinkedIn], [Twitter]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ContactInformations] ([Id], [PhoneNumber], [EmailAddress], [MobilePhoneNumber], [Website], [Facebook], [Instagram], [LinkedIn], [Twitter]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactInformations] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerContactInformation] ON 

INSERT [dbo].[CustomerContactInformation] ([Id], [CustomerId], [ContactInformationId], [IsDefault]) VALUES (1, 1, 2, 1)
INSERT [dbo].[CustomerContactInformation] ([Id], [CustomerId], [ContactInformationId], [IsDefault]) VALUES (2, 2, 3, 1)
INSERT [dbo].[CustomerContactInformation] ([Id], [CustomerId], [ContactInformationId], [IsDefault]) VALUES (3, 3, 4, 1)
SET IDENTITY_INSERT [dbo].[CustomerContactInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FirstName], [MiddleName], [LastName], [ContactNumber], [EmailAddress], [TINNumber], [AddressId], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Mark Jayson', NULL, N'Mendoza', NULL, NULL, NULL, 2, 0, CAST(N'2023-05-20T11:05:21.417' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [MiddleName], [LastName], [ContactNumber], [EmailAddress], [TINNumber], [AddressId], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Mark Jayson', NULL, N'Mendoza', NULL, NULL, NULL, 3, 0, CAST(N'2023-05-22T08:28:47.847' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', NULL, NULL)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [MiddleName], [LastName], [ContactNumber], [EmailAddress], [TINNumber], [AddressId], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Mark Jayson', NULL, N'Mendoza2', NULL, NULL, NULL, 4, 0, CAST(N'2023-05-22T08:34:52.550' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceStatus] ON 

INSERT [dbo].[InvoiceStatus] ([Id], [Name], [CssClass]) VALUES (1, N'Draft', N'badge badge-light')
INSERT [dbo].[InvoiceStatus] ([Id], [Name], [CssClass]) VALUES (2, N'Completed', N'badge badge-success')
INSERT [dbo].[InvoiceStatus] ([Id], [Name], [CssClass]) VALUES (3, N'Finalized', N'badge badge-success')
SET IDENTITY_INSERT [dbo].[InvoiceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemMovements] ON 

INSERT [dbo].[ItemMovements] ([Id], [MovementType], [Direction], [CountAfterTransaction], [CountBeforeTransaction], [Quantity], [ItemName], [LocationId], [ProductId], [TransactionDate], [TransactionId]) VALUES (1, N'Shipment (Edited)', N'InBound', 18, 17, 1, N'Innova Sanden (3703)', 1, 1, CAST(N'2023-06-30T10:06:50.833' AS DateTime), N'000002')
INSERT [dbo].[ItemMovements] ([Id], [MovementType], [Direction], [CountAfterTransaction], [CountBeforeTransaction], [Quantity], [ItemName], [LocationId], [ProductId], [TransactionDate], [TransactionId]) VALUES (2, N'Shipment (Edited)', N'InBound', 19, 18, 1, N'Innova Sanden (3703)', 1, 1, CAST(N'2023-06-30T10:11:37.077' AS DateTime), N'000003')
SET IDENTITY_INSERT [dbo].[ItemMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Name], [AddressId], [ContactInformationId], [Meta_MonthlyTargetSalesCount]) VALUES (1, N'Sample Store 1', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[LocationSetting] ON 

INSERT [dbo].[LocationSetting] ([Id], [SettingCode], [SettingValue], [LocationId]) VALUES (1, N'Monthly Sales Target', N'100', 1)
INSERT [dbo].[LocationSetting] ([Id], [SettingCode], [SettingValue], [LocationId]) VALUES (2, N'Revenue Target', N'100000', 1)
INSERT [dbo].[LocationSetting] ([Id], [SettingCode], [SettingValue], [LocationId]) VALUES (3, N'Daily Sales Target', N'10', 1)
SET IDENTITY_INSERT [dbo].[LocationSetting] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (1, N'Compressor', NULL, CAST(N'2023-05-20T10:44:47.727' AS DateTime), N'dac56928-d307-4391-ab94-94e5423bb4e3', NULL, NULL, 1)
INSERT [dbo].[ProductCategories] ([Id], [Name], [Description], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsActive]) VALUES (2, N'Evaporator', NULL, CAST(N'2023-05-20T10:46:53.503' AS DateTime), N'dac56928-d307-4391-ab94-94e5423bb4e3', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([Id], [Name], [Region], [Code]) VALUES (1, N'Metro Manila', N'NCR', N'MM')
INSERT [dbo].[Provinces] ([Id], [Name], [Region], [Code]) VALUES (2, N'Abra', N'CAR', N'ABR')
INSERT [dbo].[Provinces] ([Id], [Name], [Region], [Code]) VALUES (3, N'Apayao', N'CAR', N'APA')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleModuleAccess] ON 

INSERT [dbo].[RoleModuleAccess] ([Id], [RoleId], [ModuleIdentifier]) VALUES (95, N'Sales', N'Dashboard Page')
INSERT [dbo].[RoleModuleAccess] ([Id], [RoleId], [ModuleIdentifier]) VALUES (96, N'Sales', N'Create New Sale')
INSERT [dbo].[RoleModuleAccess] ([Id], [RoleId], [ModuleIdentifier]) VALUES (97, N'Sales', N'New Sale - View Cost Price Columns')
SET IDENTITY_INSERT [dbo].[RoleModuleAccess] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentArrivalItems] ON 

INSERT [dbo].[ShipmentArrivalItems] ([Id], [ProductId], [ShipmentArrivalId], [ItemCount], [CostPrice], [SalesPrice]) VALUES (1, 1, 2, CAST(1.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), CAST(10500.00 AS Decimal(18, 2)))
INSERT [dbo].[ShipmentArrivalItems] ([Id], [ProductId], [ShipmentArrivalId], [ItemCount], [CostPrice], [SalesPrice]) VALUES (2, 1, 3, CAST(1.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), CAST(10500.00 AS Decimal(18, 2)))
INSERT [dbo].[ShipmentArrivalItems] ([Id], [ProductId], [ShipmentArrivalId], [ItemCount], [CostPrice], [SalesPrice]) VALUES (3, 2, 3, CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ShipmentArrivalItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentArrivals] ON 

INSERT [dbo].[ShipmentArrivals] ([Id], [SupplierId], [ShipmentArrivalStatusId], [ShipmentArrivalDate], [ShipmentReceivedBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [LocationId], [Notes], [Filenames], [IsActive], [TrackingNumber]) VALUES (2, 1, 1, CAST(N'2023-06-30T10:06:50.833' AS DateTime), NULL, CAST(N'2023-06-30T10:07:03.930' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', CAST(N'2023-06-30T10:07:12.760' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', 1, NULL, NULL, 1, N'1234')
INSERT [dbo].[ShipmentArrivals] ([Id], [SupplierId], [ShipmentArrivalStatusId], [ShipmentArrivalDate], [ShipmentReceivedBy], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [LocationId], [Notes], [Filenames], [IsActive], [TrackingNumber]) VALUES (3, 1, 1, CAST(N'2023-06-30T10:11:37.077' AS DateTime), NULL, CAST(N'2023-06-30T10:11:44.900' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', CAST(N'2023-06-30T10:11:54.553' AS DateTime), N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', 1, NULL, NULL, 1, N'1212')
SET IDENTITY_INSERT [dbo].[ShipmentArrivals] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipmentArrivalStatus] ON 

INSERT [dbo].[ShipmentArrivalStatus] ([Id], [Name], [IsActive], [CssClass]) VALUES (1, N'Received', 1, N'badge badge-success')
INSERT [dbo].[ShipmentArrivalStatus] ([Id], [Name], [IsActive], [CssClass]) VALUES (2, N'Draft', 1, N'badge badge-light')
INSERT [dbo].[ShipmentArrivalStatus] ([Id], [Name], [IsActive], [CssClass]) VALUES (3, N'Deleted', 1, N'badge badge-light-dark')
SET IDENTITY_INSERT [dbo].[ShipmentArrivalStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [IsActive]) VALUES (1, N'JYQL', 1)
INSERT [dbo].[Suppliers] ([Id], [Name], [IsActive]) VALUES (2, N'Guangzhou Ruchu Imp. & Export', 1)
INSERT [dbo].[Suppliers] ([Id], [Name], [IsActive]) VALUES (3, N'test', 0)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[UserCurrentLocations] ([UserId], [LocationId]) VALUES (N'491868e1-25f5-4538-969e-5c69c3c3cd7a', 1)
INSERT [dbo].[UserCurrentLocations] ([UserId], [LocationId]) VALUES (N'a8d46d7b-62a5-4c7e-a51b-f016a9becec3', 1)
INSERT [dbo].[UserCurrentLocations] ([UserId], [LocationId]) VALUES (N'dac56928-d307-4391-ab94-94e5423bb4e3', 1)
GO
INSERT [SignalRCore].[Schema] ([SchemaVersion]) VALUES (1)
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_MarkUpPercentage]  DEFAULT ((0)) FOR [MarkUpPercentage]
GO
ALTER TABLE [dbo].[ShipmentArrivalItems] ADD  CONSTRAINT [DF_ShipmentArrivalItems_SalesPrice]  DEFAULT ((0)) FOR [SalesPrice]
GO
ALTER TABLE [dbo].[Adjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adjustments_AdjustmentReasons] FOREIGN KEY([ReasonId])
REFERENCES [dbo].[AdjustmentReasons] ([Id])
GO
ALTER TABLE [dbo].[Adjustments] CHECK CONSTRAINT [FK_Adjustments_AdjustmentReasons]
GO
ALTER TABLE [dbo].[Adjustments]  WITH CHECK ADD  CONSTRAINT [FK_Adjustments_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Adjustments] CHECK CONSTRAINT [FK_Adjustments_Products]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BranchContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_BranchContactInformation_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[BranchContactInformation] CHECK CONSTRAINT [FK_BranchContactInformation_Branches]
GO
ALTER TABLE [dbo].[BranchContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_BranchContactInformation_ContactInformations] FOREIGN KEY([ContactInformationId])
REFERENCES [dbo].[ContactInformations] ([Id])
GO
ALTER TABLE [dbo].[BranchContactInformation] CHECK CONSTRAINT [FK_BranchContactInformation_ContactInformations]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_Addresses]
GO
ALTER TABLE [dbo].[CustomerContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContactInformation_ContactInformations] FOREIGN KEY([ContactInformationId])
REFERENCES [dbo].[ContactInformations] ([Id])
GO
ALTER TABLE [dbo].[CustomerContactInformation] CHECK CONSTRAINT [FK_CustomerContactInformation_ContactInformations]
GO
ALTER TABLE [dbo].[CustomerContactInformation]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContactInformation_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerContactInformation] CHECK CONSTRAINT [FK_CustomerContactInformation_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Addresses]
GO
ALTER TABLE [dbo].[InvoiceItemRefunds]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItemRefunds_InvoiceRefunds] FOREIGN KEY([InvoiceRefundId])
REFERENCES [dbo].[InvoiceRefunds] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItemRefunds] CHECK CONSTRAINT [FK_InvoiceItemRefunds_InvoiceRefunds]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_InvoiceStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[InvoiceStatus] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_InvoiceStatus]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Products]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_InvoiceStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[InvoiceStatus] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_InvoiceStatus]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Location_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Location_Addresses]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Location_ContactInformations] FOREIGN KEY([ContactInformationId])
REFERENCES [dbo].[ContactInformations] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Location_ContactInformations]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Items_ItemCategories] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Items_ItemCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Colors] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Colors]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sizes] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sizes]
GO
ALTER TABLE [dbo].[ShipmentArrivalItems]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentArrivalItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ShipmentArrivalItems] CHECK CONSTRAINT [FK_ShipmentArrivalItems_Products]
GO
ALTER TABLE [dbo].[ShipmentArrivalItems]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentArrivalItems_ShipmentArrivals] FOREIGN KEY([ShipmentArrivalId])
REFERENCES [dbo].[ShipmentArrivals] ([Id])
GO
ALTER TABLE [dbo].[ShipmentArrivalItems] CHECK CONSTRAINT [FK_ShipmentArrivalItems_ShipmentArrivals]
GO
ALTER TABLE [dbo].[ShipmentArrivals]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentArrivals_ShipmentArrivalStatus] FOREIGN KEY([ShipmentArrivalStatusId])
REFERENCES [dbo].[ShipmentArrivalStatus] ([Id])
GO
ALTER TABLE [dbo].[ShipmentArrivals] CHECK CONSTRAINT [FK_ShipmentArrivals_ShipmentArrivalStatus]
GO
ALTER TABLE [dbo].[ShipmentArrivals]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentArrivals_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ShipmentArrivals] CHECK CONSTRAINT [FK_ShipmentArrivals_Suppliers]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_Transactions] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([TransactionId])
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Transactions] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Transactions]
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-cb0da045-29f7-4988-8b0e-f3434cdcdd2d]    Script Date: 06/07/2023 10:04:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-cb0da045-29f7-4988-8b0e-f3434cdcdd2d] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d') > 0)   DROP SERVICE [SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d]; if (OBJECT_ID('SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-cb0da045-29f7-4988-8b0e-f3434cdcdd2d]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-cb0da045-29f7-4988-8b0e-f3434cdcdd2d]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-cd0c463c-a94d-4020-ae95-a40f395e382b]    Script Date: 06/07/2023 10:04:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-cd0c463c-a94d-4020-ae95-a40f395e382b] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b') > 0)   DROP SERVICE [SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b]; if (OBJECT_ID('SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-cd0c463c-a94d-4020-ae95-a40f395e382b]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-cd0c463c-a94d-4020-ae95-a40f395e382b]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-de25f431-3d39-43a0-88a3-064de89c4151]    Script Date: 06/07/2023 10:04:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-de25f431-3d39-43a0-88a3-064de89c4151] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151') > 0)   DROP SERVICE [SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151]; if (OBJECT_ID('SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-de25f431-3d39-43a0-88a3-064de89c4151]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-de25f431-3d39-43a0-88a3-064de89c4151]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-ee75febc-d241-46ae-9acc-b29258c77c96]    Script Date: 06/07/2023 10:04:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-ee75febc-d241-46ae-9acc-b29258c77c96] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96') > 0)   DROP SERVICE [SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96]; if (OBJECT_ID('SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-ee75febc-d241-46ae-9acc-b29258c77c96]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-ee75febc-d241-46ae-9acc-b29258c77c96]; END COMMIT TRANSACTION; END
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-fc902a08-0ca5-4859-b29a-9f39d5e50ec3]    Script Date: 06/07/2023 10:04:39 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-fc902a08-0ca5-4859-b29a-9f39d5e50ec3] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3') > 0)   DROP SERVICE [SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3]; if (OBJECT_ID('SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-fc902a08-0ca5-4859-b29a-9f39d5e50ec3]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-fc902a08-0ca5-4859-b29a-9f39d5e50ec3]; END COMMIT TRANSACTION; END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Price how much the item was bought by the company (Per item)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionItems', @level2type=N'COLUMN',@level2name=N'CostPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Price how much the item is being sold by the company (Per item)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionItems', @level2type=N'COLUMN',@level2name=N'SalesPrice'
GO
